{% if page.custom_breadcrumbs %}
    {% assign crumbs = page.custom_breadcrumbs | split: '/' %}
{% else %}
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
{% endif %}

<div class="breadcrumbs">
    {% for crumb in crumbs offset: 1 %}
        {% if forloop.last == false %}
            {% if forloop.first == false %} / {% endif %}
            <a
                class="breadcrumbs__item"
                href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}"
            >
                {% if crumb == 'knowledge' %}
                    Knowledge base
                {% else %}
                    {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
                {% endif %}
            </a>
        {% endif %}
    {% endfor %}
</div>
