<div class="message knowledge-entry-legend">
    <p>
        This knowledge entry is an evolving collection of ideas, thoughts, questions etc. about the topic. It's a collection of personal notes, and thus wording and formatting may not be perfect.
    </p>
    <p>
        <strong>Legend:</strong><br>
        [>] Additional notes.<br>
        [+] An argument supporting the idea.<br>
        [-] An argument against the idea.<br>
        [?] Questions and concerns about the idea (research needed).<br>
        @&lt;topic&gt; Mention of related topic.
    </p>
</div>
