
//
// VARIABLES
//

// Colors
$primary-color: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$veryLightGray: #fbfbfb;
$white: #fff;

// Font stacks
$serifFont: serif;
$sansSerifFont: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 740px) {
    @content;
  }
}
