
//
// VARIABLES
//

// Colors
$primaryColor: #4183C4;
$primaryColorLighter: lighten($primaryColor, 10%);

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lighterGray: #aaa;
$lightGray: #eee;
$veryLightGray: #f6f6f6;
$white: #fff;

// Font stacks
$serifFont: 'Merriweather', 'Georgia', serif;
$sansSerifFont: 'Helvetica Neue', 'Arial', sans-serif;
$titlesFont: 'Open Sans Condensed', 'Arial', sans-serif;

// Transitions
$easeInOut: 200ms ease-in-out;

// Mobile breakpoints
@mixin mobile-masthead {
  @media screen and (max-width: 810px) {
    @content;
  }
}

@mixin mobile-projects {
  @media screen and (max-width: 740px) {
    @content;
  }
}
