@import "./reset.css";

:root {
    --color-primary: #4183c4;
    --color-primary-lighter: #689cd0;
    --color-black: #000;
    --color-darker-gray: #222;
    --color-dark-gray: #333;
    --color-gray: #666;
    --color-lighter-gray: #aaa;
    --color-light-gray: #eee;
    --color-very-light-gray: #f2f2f2;
    --color-white: #fff;

    --font-serif: "Merriweather", "Georgia", serif;
    --font-sans: "Helvetica Neue", "Arial", sans-serif;
    --font-titles: "Open Sans Condensed", "Arial", sans-serif;

    --transition-fast: 200ms ease-in-out;
}

html {
    font-size: 100%;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-white);
    font: 18px/1.6 var(--font-serif);
    font-weight: 300;
    color: var(--color-dark-gray);
}

a {
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
    transition: color var(--transition-fast);

    &:hover,
    &:active {
        color: var(--color-primary);
    }
}

a[id^="jbref:"] {
    color: inherit;
    cursor: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-titles);
    color: var(--color-darker-gray);
    font-weight: bold;
    line-height: 1.4;
    margin: 10px 0;
    padding: 0;
}

h1 {
    font-size: 34px;
}

.articles-list__entry-title {
    font-size: 34px;

    a {
        color: inherit;
    }
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

p {
    margin: 15px 0;
}

ul,
ol {
    margin: 15px 0;
    padding-left: 30px;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
    margin: 0;
}

ul ul,
ol ul {
    list-style-type: circle;
}

em,
i {
    font-style: italic;
}

sup {
    vertical-align: super;
    font-size: 14px;

    a {
        color: inherit;
    }
}

.footnote:before {
    content: "[";
}

.footnote:after {
    content: "]";
}

.footnotes {
    margin: 15px 0 0;

    ol,
    p {
        margin: 0;
    }
}

code {
    margin: 0;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    background-color: var(--color-very-light-gray);
    font-family: monospace;
    font-size: 85%;
    white-space: break-spaces;
}

.expressive-code {
    margin: 20px 0;
}

strong,
b {
    font-weight: bold;
}

mark {
    padding: 1px 2px;
    border-radius: 2px;
    background-color: #afe5ff;
}

img {
    max-width: 100%;
}

hr.three-dots {
    display: block;
    height: 5px;
    margin: 30px 0;
    color: transparent;
    border: none;

    &:before {
        content: "...";
        display: inline-block;
        vertical-align: top;
        margin-top: -9px;
        line-height: 5px;
        font-size: 32px;
        color: var(--color-light-gray);
    }
}

hr.three-dots--condensed {
    margin: 15px 0;
}

.quote {
    position: relative;
    display: block;
    margin: 30px 0;
    font-size: 20px;
    color: var(--color-lighter-gray);
    font-style: italic;
}

.checklist {
    margin: 15px 0;
    padding: 0;
    list-style: none;

    label {
        position: relative;
        padding-left: 18px;
    }

    input[type="checkbox"] {
        position: absolute;
        top: 6px;
        left: 0;
        margin: 0;
    }
}

.gmnoprint img {
    max-width: none;
}

.date {
    color: var(--color-lighter-gray);
    font-size: 15px;

    a {
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }
}

.label {
    display: inline-block;
    padding: 4px 8px;
    background-color: var(--color-primary);
    border-radius: 3px;
    font-family: var(--font-titles);
    font-size: 16px;
    color: var(--color-white);
    white-space: nowrap;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    background-color: var(--color-primary);
    border-radius: 3px;
    font-family: var(--font-titles);
    color: var(--color-white);
    white-space: nowrap;
    text-transform: uppercase;
    transition: background-color var(--transition-fast);

    &:hover,
    &:active {
        color: var(--color-white);
        background-color: var(--color-primary-lighter);
    }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.articles-list__entry {
    padding-bottom: 2em;
    border-bottom: 1px solid var(--color-light-gray);

    &:last-child {
        padding-bottom: 1em;
        border-bottom: none;
    }
}

.entry {
    blockquote {
        margin: 1.8em 0.8em;
        border-left: 2px solid var(--color-gray);
        padding: 0.1em 1em;
        color: var(--color-gray);
        font-size: 22px;
        font-style: italic;
    }

    &:not(.articles-list__entry) {
        .excerpt {
            position: relative;
            margin-bottom: 30px;
            padding: 50px 15px 15px;
            background-color: var(--color-very-light-gray);
            color: var(--color-dark-gray);

            &:before {
                content: "tl;dr";
                position: absolute;
                top: 15px;
                left: 15px;
                color: var(--color-darker-gray);
                font-size: 20px;
                font-weight: 600;
            }
        }

        .comments {
            margin-top: 60px;
        }
    }
}

.articles-list__entry .excerpt {
    font-size: inherit;
    color: inherit;
}

.quote + .articles-list__entry {
    margin-top: 20px;
}
