body {
    background-color: #efefee;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.page {
    max-width: 1440px;
    margin: 0 auto;
    padding: 32px;
}

.search-input-container {
    max-width: 800px;
    margin: 0 auto 32px;
}

.search-input {
    width: 100%;
    padding: 8px;
    font-size: 18px;
}

.autocomplete {
    position: relative;
}

.autocomplete__list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #ffffff;
    box-shadow: 0 0 3px 0 #cccccc;
}

.autocomplete__list-item {
    display: block;
    padding: 8px;
    border-top: 1px solid #cccccc;
    color: #555555;
    transition: none;
}

.autocomplete__list-item:first-child {
    border-top: 0;
}

.autocomplete__list-item:hover {
    color: #555555;
    background-color: #eeeeee;
}

.autocomplete__list-item--focused {
    background-color: #4183c4 !important;
    color: #ffffff !important;
}

.autocomplete__list-item strong {
    font-weight: 500;
}

.bookmarks-container {
    display: flex;
    flex-wrap: wrap;
    margin: -32px 0 0 -32px;
}

.panel {
    flex: 1 1 320px;
    margin: 32px 0 0 32px;
    background-color: #ffffff;
    box-shadow: 0 0 3px 0 #cccccc;
}

.panel__title {
    margin: 0;
    padding: 8px;
    border-bottom: 1px solid #cccccc;
    color: #555555;
}

.panel__title-text {
    padding-left: 4px;
}

.panel__content {
    padding: 8px;
}

.link-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link-list__link {
    font-size: 16px;
    font-family: monospace;
}
