---
layout: default
---

<article class="entry">
    <h1>{{ page.title }}</h1>
    <div class="date">
        Published: {{ page.date | date: "%B %e, %Y" }}
        {% assign published_date = page.date | date: "%Y-%m-%d" %}
        {% assign last_update_date = page.last_update | date: "%Y-%m-%d" %}
        {% if published_date != last_update_date %}
            (last update: {{ page.last_update | date: "%B %e, %Y" }})
        {% endif %}
    </div>

    <div class="entry__content">
        {{ content }}
        <div class="vertical-separator"></div>
        <p>
            If you find the content I produce helpful you can support my efforts by buying me a coffee or by tipping me via <a href="https://brave.com/tips/" target="_blank">Brave Rewards</a> program. Thank you!
        </p>
        <p>
            <a href="https://www.buymeacoffee.com/georgebyte" class="bmc-button" target="_blank"><img src="/images/bmc-button.png" srcset="/images/bmc-button.png 1x, /images/bmc-button@2x.png 2x" alt="buymeacoffee.com/georgebyte" /></a>
        </p>
        <p>
            Also, let's connect on <a href="https://twitter.com/georgebyte" target="_blank">Twitter</a> (I have no product to push on you and my feed stays clean and interesting 😇).
        </p>
    </div>

    {% include disqus.html %}
</article>
