---
layout: default
---

<article class="entry">
    <h1>{{ page.title }}</h1>
    <div class="date">
        Published: {{ page.date | date: "%B %e, %Y" }}
        {% assign published_date = page.date | date: "%Y-%m-%d" %}
        {% assign last_update_date = page.last_update | date: "%Y-%m-%d" %}
        {% if published_date != last_update_date %}
            (last update: {{ page.last_update | date: "%B %e, %Y" }})
        {% endif %}
    </div>

    <div class="entry__content">
        {{ content }}

        <div class="vertical-separator"></div>

        PS: Let's connect on <a href="https://twitter.com/georgebyte" target="_blank">Twitter</a> (I have no product to push on you and my feed stays clean and interesting 😇).
    </div>

    {% include disqus.html %}
</article>
