---
layout: blank
---

<div class="wrapper">
    <div class="wrapper-masthead">
        <div class="container">
            <header class="masthead clearfix">
                <a href="{{ site.baseurl }}/" class="site-avatar">
                    <img src="/images/jure-bajt.jpg" srcset="/images/jure-bajt.jpg 1x, /images/jure-bajt@2x.jpg 2x" alt="Jure Bajt's profile photo" />
                </a>

                <div class="site-info">
                    <h2 class="site-name">
                    <a href="{{ site.baseurl }}/">{{ site.name }}</a>
                    </h2>
                    <p class="site-description">{{ site.description }}</p>
                </div>

                <nav>
                    {% include navigation-links.html %}
                </nav>
            </header>
        </div>
    </div>

    <div id="main" role="main" class="container">
        {{ content }}
    </div>
</div>

<div class="wrapper-footer">
    <div class="container">
        <footer class="footer">
            {% include svg-icons.html %}
        </footer>
    </div>
</div>
